/******************************************************************
 ***************             MAIN LAYOUT           ****************
 ******************************************************************/

/* MAIN COLUMN BACKGROUND */
[data-testid='primaryColumn'] {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
  margin: 0 !important;
}

/* REMOVE BG */
[data-testid='primaryColumn'] > div:first-child > div:first-child,
[data-testid='primaryColumn'] > div:first-child > div:nth-child(2) {
  background-color: transparent !important;
}

/* TITLE AREA CARD */
[data-testid='primaryColumn'] > div:first-child > div:first-child {
  position: relative;
  background-color: var(--cardBackground) !important;
  border-radius: var(--cardRadius) !important;
  box-shadow: var(--cardShadow) !important;
  margin: 0px 0px 16px 0px;
  border: none;
}

[data-testid='primaryColumn']
  > div:first-child
  > div:first-child
  > div:first-child
  > div:first-child
  > div:first-child
  > div:first-child {
  background-color: transparent !important;
}

/* TITLE AREA INNER */
[data-testid='primaryColumn']
  > div:first-child
  > div:first-child
  > div:first-child
  > div:first-child
  > div:first-child
  > div:first-child
  > div:first-child {
  background-color: transparent !important;
}

/* TWEET BOX CARD */
[data-testid='primaryColumn'] > div:first-child > div:nth-child(2) {
  position: relative;
  background-color: var(--cardBackground) !important;
  border-radius: var(--cardRadius) !important;
  box-shadow: var(--cardShadow) !important;
  margin: 0px 0px 16px 0px;
  border: none;
}

/* TWEET BOX INNER W/ PADDING */
[data-testid='primaryColumn']
  > div:first-child
  > div:nth-child(2)
  > div:first-child
  > div:nth-child(2) {
  background-color: transparent !important;
}

/* TWEET BOX INNER */
[data-testid='primaryColumn']
  > div:first-child
  > div:first-child
  > div:nth-child(2)
  > div:first-child
  > div:nth-child(2) {
  background-color: transparent !important;
  padding: 15px 0 !important;
}

/* TWEET BOX PROFILE IMAGE WRAPPER */
[data-testid='primaryColumn']
  > div:first-child
  > div:first-child
  > div:nth-child(2)
  > div:first-child
  > div:nth-child(2)
  > div:first-child
  > div:first-child
  > div:first-child
  > div:first-child
  > div:first-child {
  padding: 0 !important;
}

/* TWEET BOX TOOLBAR */
[data-testid='primaryColumn'] div[data-testid='toolBar'] {
  background-color: transparent !important;
}

[data-testid='primaryColumn']
  div[data-testid='toolBar']
  [role='button'][data-focusable='true'] {
  border-radius: var(--buttonRadius) !important;
}

/* BORDER BOTTOM SEPERATOR FOR ACTIVE TWEET */
[data-testid='primaryColumn']
  > div:first-child
  > div:first-child
  > div:nth-child(2)
  > div:first-child
  > div:nth-child(2)
  .css-1dbjc4n.r-e84r5y.r-109y4c4.r-13qz1uu {
  background-color: var(--accent) !important;
}

/* WEIRD SEPERATOR */
[data-testid='primaryColumn']
  > div:first-child
  > div:first-child
  > div:nth-child(3) {
  background-color: transparent !important;
  height: 0px !important;
}

/* MAIN TIMELINE CARD */
[aria-label*='Timeline'] {
  position: relative;
  background-color: var(--cardBackground) !important;
  border-radius: var(--cardRadius) !important;
  box-shadow: var(--cardShadow) !important;
  margin: 0px 0px 16px 0px;
  border: none;
  overflow: hidden;
}

/* MAIN TWEET WRAPPERS */
[aria-label*='Timeline'] > div:first-child > div > div:first-child,
[aria-label*='Timeline'] > div:first-child > div > div:first-child > div {
  border-bottom-width: 0px !important;
  border-bottom-color: transparent !important;
  /* background-color: orange !important; */
}

/* TWEET LINKS */
[aria-label*='Timeline'] article {
  border: none !important;
  padding: 0 !important;
  border-bottom: 1px solid var(--accent) !important;
}
/* TWEET WRAPPER HOVER */
[aria-label*='Timeline'] article[role='article']:hover {
  background-color: var(--hover) !important;
}

/* TWEET ORIGINAL PADDING */
[aria-label*='Timeline'] article > div:first-child > div:first-child {
  padding: 0 !important;
}

/* TWEET NEW PADDING */
[aria-label*='Timeline'] article [data-testid='tweet'],
[aria-label*='Timeline: Conversation'] article [data-testid='tweet'] + div,
[aria-label*='Timeline: Notifications'] article {
  padding: 16px !important;
}

[aria-label*='Timeline: Notifications'] article [data-testid='tweet'] {
  padding: 0 !important;
}

/* [aria-label*='Timeline']
  > div:first-child
  > div:first-child
  > div
  > div:first-child:empty {
  padding: 40px !important;
  background-color: pink !important;
} */

/* TWEET THREAD CONNECTOR */
[data-testid='tweet'] > div:first-child > div:nth-child(2) {
  background-color: var(--accent) !important;
  position: relative;
  bottom: -16px !important;
}

/* SMALL TOP TWEET CONNECTOR */
article
  > div:first-child
  > div:first-child
  > div:first-child
  > div:first-child
  > div:first-child
  > div:first-child[style='flex-basis: 49px;']
  > div:first-child {
  background-color: var(--accent) !important;
  left: 32px !important;
  height: 200% !important;
}

/* RETWEET INDICATOR */
[aria-label*='Timeline']
  article
  > div:first-child
  > div:first-child
  > div:first-child
  > div:first-child
  > div:first-child
  > div:first-child
  > div:first-child
  > div:first-child.css-1dbjc4n.r-18u37iz {
  display: flex;
  width: fit-content;
  border-radius: var(--buttonRadius);
  padding: 3px 12px;
  background-color: var(--background) !important;
  margin-left: 16px;
}

/* RETWEET INDICATOR INNER DIVS */
[aria-label*='Timeline']
  article
  > div:first-child
  > div:first-child
  > div:first-child
  > div:first-child
  > div:first-child
  > div:first-child
  > div:first-child
  > div:first-child.css-1dbjc4n.r-18u37iz
  * {
  flex: none !important;
}

/* TWEET ACTIONS BAR */
[aria-label*='Timeline'] article [role='group'] {
  margin-top: 16px !important;
}

/* TWEET ACTION */
[aria-label*='Timeline']
  article
  [role='group']
  [dir='ltr']
  > div:first-child
  > div:first-child {
  border-radius: var(--buttonRadius) !important;
}

/* TWEET IMAGE */
[data-testid='tweet']
  > div:nth-child(2)
  > div:nth-child(2)
  > div:nth-child(2)
  > div:first-child
  > div:first-child
  > div:nth-child(3),
  [data-testid='tweet']
  > div:nth-child(2)
  > div:nth-child(2)
  > div:nth-child(2)
  > div:first-child
  > div:first-child
  > div:first-child,
[data-testid='tweet']
  > div:nth-child(2)
  > div:nth-child(2)
  > div:nth-child(2)
  > div:first-child
  > div:first-child
  > div:first-child
  > div:nth-child(2) {
  background-color: var(--background) !important;
  border: none !important;
  border-radius: var(--cardRadius) !important;
}

[data-testid='tweet'] [data-testid='card.wrapper'] {
  background-color: var(--background) !important;
  border: none !important;
}

[data-testid='tweet'] [data-testid='card.wrapper']:hover {
  background-color: var(--background) !important;
  border: none !important;
}

/* TWEET POLL OPTIONS WRAPPER */
[data-testid='tweet']
  > div:nth-child(2)
  > div:nth-child(2)
  > div:nth-child(2)
  > div:first-child
  > div:first-child
  > div:first-child
  > div:first-child
  > div:first-child
  > div {
  margin: 10px 10px 0 !important;
}
[data-testid='tweet']
  > div:nth-child(2)
  > div:nth-child(2)
  > div:nth-child(2)
  > div:first-child
  > div:first-child
  > div:first-child
  > div:first-child
  > div:first-child
  > div:last-child {
  margin-bottom: 10px !important;
}

/* TWEET OPTION INDICATOR */
[data-testid='tweet']
  > div:nth-child(2)
  > div:nth-child(2)
  > div:nth-child(2)
  > div:first-child
  > div:first-child
  > div:first-child
  > div:first-child
  > div:first-child
  > div
  > div:first-child
  > div:first-child {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
  background: var(--cardBackground) !important;
}
[data-testid='tweet']
  > div:nth-child(2)
  > div:nth-child(2)
  > div:nth-child(2)
  > div:first-child
  > div:first-child
  > div:first-child
  > div:first-child
  > div:first-child
  > div:first-child
  > div:first-child
  > div:first-child {
  border-top-left-radius: 4px !important;
}

/* TWEET RETWEET */
[data-testid='tweet']
  > div:nth-child(2)
  > div:nth-child(2)
  > div:nth-child(2)
  > div:first-child
  > div:nth-child(2)
  > div:first-child
  > div:nth-child(2)[data-focusable='true'] {
  border: 1px solid var(--accent) !important;
  border-radius: var(--cardRadius) !important;
}

/* OLD RETWEET BORDER */
[data-testid='tweet']
  > div:nth-child(2)
  > div:nth-child(2)
  > div:nth-child(2)
  > div:first-child
  > div:first-child
  > div:first-child
  > div:nth-child(2) {
  border: none !important;
}

/* PROFILE IMAGE HOVER MODAL */
#layers
  > div:nth-child(2)
  > div:first-child
  > div:first-child
  > div:first-child {
  box-shadow: rgba(0, 0, 0, 0.2) 10px 5px 80px 0px !important;
}
#layers
  > div:nth-child(2)
  > div:first-child
  > div:first-child
  > div:first-child
  > div:first-child
  > div:first-child
  > div:first-child {
  background: var(--cardBackground) !important;
  box-shadow: rgba(0, 0, 0, 0.2) 10px 5px 80px 0px !important;
}

/* NOTIFICATIONS TABS WRAPPER */
[data-testid='primaryColumn']
  > div:first-child
  > div:first-child
  > div:nth-child(2) {
  background-color: transparent !important;
}
/* NOTIFICATIONS TABS BORDER NAV ELEMENT */
[data-testid='primaryColumn']
  > div:first-child
  > div:first-child
  > div:nth-child(2)
  nav {
  border-bottom: none !important;
}

/* TAB */
[data-testid='primaryColumn']
  > div:first-child
  > div:first-child
  > div:nth-child(2)
  nav
  [role='tablist']
  > div
  > a:hover {
  background-color: var(--hover) !important;
}
[data-testid='primaryColumn']
  > div:first-child
  > div:first-child
  > div:nth-child(2)
  nav
  [role='tablist']
  > div:first-child
  > a {
  border-bottom-left-radius: var(--cardRadius);
}
[data-testid='primaryColumn']
  > div:first-child
  > div:first-child
  > div:nth-child(2)
  nav
  [role='tablist']
  > div:nth-child(2)
  > a {
  border-bottom-right-radius: var(--cardRadius);
}

/* NOTIFICATIONS TIMELINE FIRST ARTICLE */
[aria-label='Timeline: Notifications']
  > div:first-child
  > div:first-child
  article {
  border-top-left-radius: var(--cardRadius) !important;
  border-top-right-radius: var(--cardRadius) !important;
}

/* NOTIFICATIONS TIMELINE ARTICLE */
[aria-label='Timeline: Notifications'] > div:first-child > div article:hover {
  background-color: var(--hover) !important;
}
