/******************************************************************
 ***************         MAIN LAYOUT STUFF         ****************
 ******************************************************************/
:root {
  --background: #1a1e21;
  --hover: #273036;
  --cardBackground: rgb(44, 54, 60);
  --accent: #565f65;
  --text: #fcfcfc;
  --buttonRadius: 12px;
  --profileRadius: 24px;
  --cardRadius: 12px;
  --inputRadius: 4px;
  --inputBorder: #d8d8d8;
  --inputBorderHover: #c8c8c8;
  --inputBackground: #ffffff;
  --inputColor: #444444;
  --cardShadow: 0px 2px 3px -1px rgba(0, 0, 0, 0.4),
    0px 1px 4px 0px rgba(0, 0, 0, 0.2), 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
  --scrollbarBackground: #565f65;
  --scrollbarColor: #aaaaaa;
}

*::-webkit-scrollbar {
  background: var(--scrollbarBackground) !important;
  width: 8px;
  border-radius: var(--cardRadius) !important;
}

*::-webkit-scrollbar-thumb {
  background: var(--scrollbarColor) !important;
  border-radius: var(--cardRadius) !important;
}

.r-1ye8kvj {
  max-width: 99999px !important;
}

body {
  background-color: var(--background) !important;
  padding-top: 30px !important;
  max-width: 769px !important;
  margin: 0 auto !important;
}

header {
  flex: 1 1 0 !important;
  margin-right: 16px !important;
  max-width: 68px !important;
}

header > div:first-child > div:first-child,
header > div:first-child > div:first-child > div:first-child {
  max-width: 68px !important;
}

header > div:first-child {
  width: 100% !important;
  display: block !important;
  position: static !important;
  visibility: visible !important;
}

main {
  margin-right: 0 !important;
  margin-left: 16px !important;
  flex: 1 1 0 !important;
}

@media (min-width: 1273px) {
  header {
    flex: none !important;
    width: calc(25% - 16px);
  }

  main {
    flex: none !important;
    width: calc(75% - 16px);
  }

  header,
  header > div:first-child > div:first-child,
  header > div:first-child > div:first-child > div:first-child {
    max-width: 999px !important;
  }
}

/* MAIN CONTAINER */
main > div:first-child,
[data-testid='primaryColumn']
  > div:first-child
  > div:nth-child(2)
  > div:first-child
  > div:first-child {
  max-width: 100% !important;
  width: 100% !important;
}
main > div:first-child > div:first-child > div:first-child {
  border: none !important;
}
[data-testid='primaryColumn'],
[data-testid='primaryColumn'] div:first-child > div:nth-child(4),
[data-testid='primaryColumn'] div:first-child > div:nth-child(2) {
  max-width: 9999px !important;
}
[data-testid='primaryColumn'] > div > div:nth-child(3) {
  display: none !important;
}

/* LEFT SIDEBAR FLEX WRAPPER */
header > div:first-child > div:first-child > div:first-child {
  justify-content: flex-start !important;
  padding: 0 !important;
}

/* NAVIGATION CARD */
header > div > div > div > div:first-child {
  position: relative;
  background-color: var(--cardBackground) !important;
  border-radius: var(--cardRadius) !important;
  box-shadow: var(--cardShadow) !important;
  margin: 0px 0px 16px 0px;
  border: none;
  padding: 8px;
}

/* PROFILE CLICK SIDEBAR BUTTON */
header > div > div > div > div:nth-child(2) {
  position: relative;
  background-color: var(--cardBackground) !important;
  border-radius: var(--cardRadius) !important;
  box-shadow: var(--cardShadow) !important;
  margin: 0px 0px 16px 0px;
  border: none;
}

/* TWITTER ICON ON NAVBAR */
header > div > div > div > div:first-child > div:first-child {
  padding: 0;
  width: 50px;
  height: 50px;
}

/* MAIN NAV ITEMS FLEX */
header > div > div > div > div:first-child > div:nth-child(2) {
  margin: 0 !important;
}

nav[aria-label='Primary'] a {
  width: 50px;
  height: 50px;
  display: block;
  border-radius: var(--buttonRadius) !important;
  transition: 0.1s;
  padding: 0 !important;
  margin: 4px 0 !important;
}

nav[aria-label='Primary'] a:hover {
  background: var(--hover) !important;
}

nav[aria-label='Primary'] a div {
  background: transparent !important;
}

/* TWEET BUTTON WRAPPER */
header
  > div:first-child
  > div:first-child
  > div:first-child
  > div:first-child
  > div:nth-child(3) {
  width: 50px;
  height: 50px;
  display: block;
  padding: 0px !important;
  margin: 4px 0 0 0 !important;
}

nav[aria-label='Primary'] > div:last-of-type {
  width: 50px;
  height: 50px;
  display: block;
  padding: 0px !important;
  margin: 4px 0 !important;
}

nav[aria-label='Primary'] > div:last-of-type:hover {
  background: rgb(29, 161, 242, 0.1) !important;
}

nav[aria-label='Primary'] > div:last-of-type div {
  background: transparent !important;
}

@media (min-width: 1273px) {
  /* MAIN NAV CARD */
  header > div > div > div > div:first-child {
    padding: 16px;
  }

  nav[aria-label='Primary'] a,
  nav[aria-label='Primary'] > div:last-of-type,
  header
    > div:first-child
    > div:first-child
    > div:first-child
    > div:first-child
    > div:nth-child(3) {
    width: 100%;
    text-align: left !important;
  }

  nav[aria-label='Primary'] a *,
  nav[aria-label='Primary'] > div:last-of-type * {
    text-align: left !important;
  }

  nav[aria-label='Primary'] a div,
  nav[aria-label='Primary'] > div:last-of-type div {
    justify-content: flex-start !important;
  }
}

/* MESSAGES DRAWER */
[data-testid='DMDrawer'] {
  display: none !important;
}
@media (min-width: 1004px) {
  body {
    max-width: 1200px !important;
    width: 90%;
  }
}
.r-hkyrab {
  color: var(--text) !important;
}
.r-1re7ezh {
  color: var(--text) !important;
}

/******************************************************************
 ***************          GLOBAL BUTTONS           ****************
 ******************************************************************/
[aria-labelledby='modal-header']
  > div:first-child
  > div:first-child
  > div:nth-child(2)
  > div:first-child
  > div:first-child
  > div:first-child
  > div:first-child
  > div:nth-child(3)
  [role='button'],
[aria-labelledby='modal-header']
  > div:first-child
  > div:nth-child(2)
  > div:first-child
  > div:first-child
  > div:nth-child(9)
  [role='button'] {
  background-color: rgb(29, 161, 242) !important;
  opacity: 1 !important;
  border-radius: var(--buttonRadius) !important;
  color: white !important;
}
[aria-labelledby='modal-header']
  > div:first-child
  > div:first-child
  > div:nth-child(2)
  > div:first-child
  > div:first-child
  > div:first-child
  > div:first-child
  > div:nth-child(3)
  [role='button']:hover,
[aria-labelledby='modal-header']
  > div:first-child
  > div:nth-child(2)
  > div:first-child
  > div:first-child
  > div:nth-child(9)
  [role='button']:hover,
[data-testid='SideNav_NewTweet_Button']:hover {
  cursor: pointer !important;
  background-color: rgb(26, 145, 218) !important;
  color: white !important;
}
/* MOBILE TWEET BUTTON */
[data-testid='SideNav_NewTweet_Button'] {
  background-color: rgb(29, 161, 242) !important;
  opacity: 1 !important;
  border-radius: var(--buttonRadius) !important;
  color: white !important;
}
/* NAVIGATION TWEET BUTTON */
header
  > div:first-child
  > div:first-child
  > div:first-child
  > div:first-child
  > div:last-child
  > a {
  border-radius: var(--buttonRadius) !important;
}
/* TWEET BUTTON */
[data-testid='tweetButtonInline'],
[data-testid='tweetButton'] {
  background-color: rgb(29, 161, 242) !important;
  opacity: 1 !important;
  border-radius: var(--buttonRadius) !important;
}
[data-testid='tweetButtonInline']:hover,
[data-testid='tweetButton']:hover {
  cursor: pointer !important;
  background-color: rgb(26, 145, 218) !important;
}
/* OTHER */
[role='button'] {
  border-radius: var(--buttonRadius) !important;
}

/******************************************************************
 ***************           GLOBAL INPUTS           ****************
 ******************************************************************/
label {
  border: none !important;
  background: transparent !important;
  padding: 0 !important;
}
label [dir='auto'] {
  padding-left: 0 !important;
  margin-bottom: 8px !important;
}
input[type='password'],
input[type='text'] {
  border-radius: var(--inputRadius) !important;
  background-color: var(--inputBackground) !important;
  border: 1px solid var(--inputBorder) !important;
  padding: 12px 10px !important;
  font-size: 16px !important;
  color: var(--inputColor) !important;
}
input[type='password']:focus,
input[type='text']:focus {
  border: 1px solid var(--inputBorderHover) !important;
}
input[type='password']:focus,
input[type='text']:focus {
  border: 1px solid rgb(29, 161, 242) !important;
}

/******************************************************************
 ***************              SIDEBARS             ****************
 ******************************************************************/
/* HIDE RIGHT SIDEBAR */
[data-testid='primaryColumn'] ~ div {
  display: none !important;
}

/* LEFT/RIGHT FIXED SIDEBAR WRAPPER */
header > div:first-child > div:first-child,
[data-testid='sidebarColumn'] > div:first-child > div:nth-child(2) {
  top: 30px !important;
  position: fixed !important;
}

/******************************************************************
 ***************          POPUPS AND MENUS         ****************
 ******************************************************************/
[aria-modal='true'] {
  overflow: visible !important;
}
[aria-modal='true'] > div:first-child {
  box-shadow: rgba(0, 0, 0, 0.2) 10px 5px 80px 0px !important;
  position: relative;
  background-color: var(--cardBackground) !important;
  border-radius: var(--cardRadius) !important;
  margin: 0px 0px 16px 0px;
  border: none;
}
[aria-modal='true']
  > div:first-child
  > div:nth-child(3)
  > div:first-child
  > div:first-child
  > div:first-child,
[aria-modal='true']
  > div:first-child
  > div:nth-child(2)
  > div:first-child
  > div:first-child {
  background-color: transparent !important;
}
/* MENU POPUP */
[role='menu'] {
  background-color: var(--cardBackground) !important;
  border-radius: var(--cardRadius) !important;
  box-shadow: rgba(0, 0, 0, 0.2) 10px 5px 80px 0px !important;
  margin: 0px 0px 16px 0px;
  border: none;
  background-color: var(--cardBackground) !important;
}
[role='menu'] a[role='link']:hover {
  background-color: var(--hover) !important;
}

/* PROFILE POPUP */
.css-1dbjc4n.r-aqfbo4.r-1xcajam
  > div:first-child
  > div:nth-child(2)[data-focusable='true']
  > div:first-child
  > div:first-child
  > div:first-child {
  position: relative;
  background-color: var(--cardBackground) !important;
  border-radius: var(--cardRadius) !important;
  box-shadow: rgba(0, 0, 0, 0.2) 10px 5px 80px 0px !important;
  margin: 0px 0px 16px 0px;
  border: none;
  background-color: var(--cardBackground) !important;
}
/* PROFILE POPUP LINKS */
.css-1dbjc4n.r-aqfbo4.r-1xcajam
  > div:first-child
  > div:nth-child(2)[data-focusable='true']
  > div:first-child
  > div:first-child
  > div:first-child
  a:hover {
  background-color: var(--hover) !important;
}
/* PROFILE POPUP BORDER */
.css-1dbjc4n.r-aqfbo4.r-1xcajam
  > div:first-child
  > div:nth-child(2)[data-focusable='true']
  > div:first-child
  > div:first-child
  > div:first-child
  .css-1dbjc4n.r-e84r5y.r-109y4c4 {
  background-color: var(--accent);
}
.css-1dbjc4n.r-aqfbo4.r-1xcajam
  > div:first-child
  > div:nth-child(2)[data-focusable='true']
  > div:first-child
  > div:first-child
  > div:first-child
  li {
  border-bottom: 1px solid var(--accent) !important;
}
/* FEED WRAPPER */
main
  > div:first-child
  > div:first-child
  > div:first-child
  > div:first-child
  > div:first-child
  > div:first-child
  > div:first-child,
[data-testid='primaryColumn'] > div > div:nth-child(1),
main
  > div:first-child
  > div:first-child
  > div:first-child
  > div:nth-child(1)
  > div:first-child {
  margin-top: 0px !important;
}

/* PROFILE IMAGE HOVER MODAL */
#layers
  > div:nth-child(2)
  > div:first-child
  > div:first-child
  > div:first-child {
  box-shadow: rgba(0, 0, 0, 0.2) 10px 5px 80px 0px !important;
}
#layers
  > div:nth-child(2)
  > div:first-child
  > div:first-child
  > div:first-child
  > div:first-child
  > div:first-child
  > div:first-child {
  background: var(--cardBackground) !important;
  box-shadow: rgba(0, 0, 0, 0.2) 10px 5px 80px 0px !important;
}
