/******************************************************************
 ***************         MAIN LAYOUT STUFF         ****************
 ******************************************************************/
:root {
  --background: #1a1e21;
  --hover: #273036;
  --cardBackground: rgb(44, 54, 60);
  --accent: #565f65;
  --text: #fcfcfc;
  --buttonRadius: 12px;
  --profileRadius: 24px;
  --cardRadius: 12px;
  --inputRadius: 4px;
  --inputBorder: #d8d8d8;
  --inputBorderHover: #c8c8c8;
  --inputBackground: #ffffff;
  --inputColor: #444444;
  --cardShadow: 0px 2px 3px -1px rgba(0, 0, 0, 0.4),
    0px 1px 4px 0px rgba(0, 0, 0, 0.2), 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
  --scrollbarBackground: #565f65;
  --scrollbarColor: #aaaaaa;
}

*::-webkit-scrollbar {
  background: var(--scrollbarBackground) !important;
  width: 8px;
  border-radius: var(--cardRadius) !important;
}

*::-webkit-scrollbar-thumb {
  background: var(--scrollbarColor) !important;
  border-radius: var(--cardRadius) !important;
}

body {
  background-color: var(--background) !important;
  padding-top: 30px !important;
  max-width: 769px !important;
  margin: 0 auto !important;
}

header {
  flex: none !important;
  margin-right: 16px !important;
}

main {
  margin-right: 0 !important;
  margin-left: 16px !important;
  flex: 1 1 0 !important;
}

/* MAIN CONTAINER */
main > div:first-child,
[data-testid='primaryColumn']
  > div:first-child
  > div:nth-child(2)
  > div:first-child
  > div:first-child {
  max-width: 100% !important;
  width: 100% !important;
}
main > div:first-child > div:first-child > div:first-child {
  border: none !important;
}
[data-testid='primaryColumn'],
[data-testid='primaryColumn'] div:first-child > div:nth-child(4),
[data-testid='primaryColumn'] div:first-child > div:nth-child(2) {
  max-width: 9999px !important;
}
[data-testid='primaryColumn'] > div > div:nth-child(3) {
  display: none !important;
}

/* LEFT SIDEBAR FLEX WRAPPER */
header > div:first-child > div:first-child > div:first-child {
  justify-content: flex-start !important;
  padding: 0 !important;
}

/* NAVIGATION CARD */
header > div > div > div > div:first-child {
  position: relative;
  background-color: var(--cardBackground) !important;
  border-radius: var(--cardRadius) !important;
  box-shadow: var(--cardShadow) !important;
  margin: 0px 0px 16px 0px;
  border: none;
  padding: 8px;
}

/* PROFILE CLICK SIDEBAR BUTTON */
header > div > div > div > div:nth-child(2) {
  position: relative;
  background-color: var(--cardBackground) !important;
  border-radius: var(--cardRadius) !important;
  box-shadow: var(--cardShadow) !important;
  margin: 0px 0px 16px 0px;
  border: none;
}

/* MESSAGES DRAWER */
[data-testid='DMDrawer'] {
  display: none !important;
}
@media (min-width: 960px) {
  main {
    margin-left: 24px !important;
    margin-right: 24px !important;
  }
}
@media (min-width: 1004px) {
  body {
    max-width: 1200px !important;
    width: 90%;
  }
}
.r-hkyrab {
  color: var(--text) !important;
}
.r-1re7ezh {
  color: var(--text) !important;
}

/******************************************************************
 ***************          GLOBAL BUTTONS           ****************
 ******************************************************************/
[aria-labelledby='modal-header']
  > div:first-child
  > div:first-child
  > div:nth-child(2)
  > div:first-child
  > div:first-child
  > div:first-child
  > div:first-child
  > div:nth-child(3)
  [role='button'],
[aria-labelledby='modal-header']
  > div:first-child
  > div:nth-child(2)
  > div:first-child
  > div:first-child
  > div:nth-child(9)
  [role='button'] {
  background-color: rgb(29, 161, 242) !important;
  opacity: 1 !important;
  border-radius: var(--buttonRadius) !important;
  color: white !important;
}
[aria-labelledby='modal-header']
  > div:first-child
  > div:first-child
  > div:nth-child(2)
  > div:first-child
  > div:first-child
  > div:first-child
  > div:first-child
  > div:nth-child(3)
  [role='button']:hover,
[aria-labelledby='modal-header']
  > div:first-child
  > div:nth-child(2)
  > div:first-child
  > div:first-child
  > div:nth-child(9)
  [role='button']:hover,
[data-testid='SideNav_NewTweet_Button']:hover {
  cursor: pointer !important;
  background-color: rgb(26, 145, 218) !important;
  color: white !important;
}
/* MOBILE TWEET BUTTON */
[data-testid='SideNav_NewTweet_Button'] {
  background-color: rgb(29, 161, 242) !important;
  opacity: 1 !important;
  border-radius: var(--buttonRadius) !important;
  color: white !important;
}
/* NAVIGATION TWEET BUTTON */
header
  > div:first-child
  > div:first-child
  > div:first-child
  > div:first-child
  > div:last-child
  > a {
  border-radius: var(--buttonRadius) !important;
}
/* TWEET BUTTON */
[data-testid='tweetButtonInline'],
[data-testid='tweetButton'] {
  background-color: rgb(29, 161, 242) !important;
  opacity: 1 !important;
  border-radius: var(--buttonRadius) !important;
}
[data-testid='tweetButtonInline']:hover,
[data-testid='tweetButton']:hover {
  cursor: pointer !important;
  background-color: rgb(26, 145, 218) !important;
}
/* OTHER */
[role='button'] {
  border-radius: var(--buttonRadius) !important;
}

/******************************************************************
 ***************           GLOBAL INPUTS           ****************
 ******************************************************************/
label {
  border: none !important;
  background: transparent !important;
  padding: 0 !important;
}
label [dir='auto'] {
  padding-left: 0 !important;
  margin-bottom: 8px !important;
}
input[type='password'],
input[type='text'] {
  border-radius: var(--inputRadius) !important;
  background-color: var(--inputBackground) !important;
  border: 1px solid var(--inputBorder) !important;
  padding: 12px 10px !important;
  font-size: 16px !important;
  color: var(--inputColor) !important;
}
input[type='password']:focus,
input[type='text']:focus {
  border: 1px solid var(--inputBorderHover) !important;
}
input[type='password']:focus,
input[type='text']:focus {
  border: 1px solid rgb(29, 161, 242) !important;
}

/******************************************************************
 ***************              SIDEBARS             ****************
 ******************************************************************/
/* HIDE RIGHT SIDEBAR */
[data-testid='primaryColumn'] ~ div {
  display: none !important;
}

/* LEFT/RIGHT FIXED SIDEBAR WRAPPER */
header > div:first-child > div:first-child,
[data-testid='sidebarColumn'] > div:first-child > div:nth-child(2) {
  top: 30px !important;
  position: fixed !important;
}
